

@{
    ViewBag.Title = "Index";
}
<table class="form-horizontal">

    <tr>
        <th>
            <hr/>
            <hr/>
    <h1>Index</h1>            
        </th>
    </tr>
    
    <tr>
        <th>
    <h2>Welcome to Employee Information Management System</h2>
        </th>
    </tr>
    
    
    <tr>
        <td>      
             @Html.ActionLink("Employee Details","../Employee/Index")  |    
         
              @Html.ActionLink("Department Details","../Department/Index")
        </td>
    </tr>


</table>